* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: crimson;
}

.card {
  width: 700px;
  font-family: sans-serif;
  background-color: #fff;
  margin: 20px;
  padding: 20px;
  line-height: 28px;
}

/* scrollbar */
::-webkit-scrollbar {
  background-color: transparent;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 100px;
}