* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color : #dc143c;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
}

.gray-heart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  transform: rotate(-45deg);
  background: #ccc;
  position: relative;
  top: 0;
}

.gray-heart::before,
.gray-heart::after {
  content: "";
  border-radius: 50%;
  background-color: #ccc;
  width: 100px;
  height: 100px;
  position: absolute;
}

.gray-heart::before {
  top: -50px;
  left: 0;
}

.gray-heart::after {
  left: 50px;
  top: 0;
}

.red-heart {
  background: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  position: absolute;
  transform: rotate(-45deg);
  visibility: hidden;
}

.red-heart::before,
.red-heart::after {
  content: "";
  position: absolute;
  background: var(--main-color);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  transform: rotate(-45deg);
}

.red-heart::before {
  top: -50px;
  left: 0;
}

.red-heart::after {
  left: 50px;
  top: 0;
}

/* js */
.red-heart.animation {
  animation: pop 0.9s linear;
  visibility: visible;
}

.red-heart.fill-color {
  background: var(--main-color);
}

/* ani */
@keyframes pop {
  100% {
    transform: scale(1.7) rotate(-45deg);
    opacity: 0;
  }
}