body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  color: #fff;
}

.scroll-container {
  background-color: rgb(7,7,7);
  width: 25rem;
  padding: 30px;
}

.scroll-div {
  width: 400px;
  height: 500px;
  overflow: hidden;
  overflow-y: scroll;
  background: rgb(7,7,7);
}

.scroll-object {
  padding: 20px;
}